[Unit]
Description=Binds SNS messages between different services
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=${WORKDIR}
ExecStart=/usr/local/bin/node main.js

[Install]
WantedBy=multi-user.target

